<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Index</title>
    <meta http-equiv="refresh" content="5">
    <style type="text/css">
    </style>
   <link rel="stylesheet" href="static/jquery-ui.css"> </link>
    <script src="static/jquery.js"></script>
     <script src="static/jquery-ui.js"></script>

     <style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  </style>
</head>

<body>
<script>
       //<![CDATA[
    $( document ).ready(function() {            
        var desturl =  "https://asint-227116.appspot.com/asintproject/users/messages_all";
        console.log("click");
        $("#divDestiny").html("waiting");
        $.ajax({
            type: "GET",
            url: desturl,
            datatype: "json",
            contentType: "text/plain",
            data: '',
            success: function (data) {
                console.log(data);
                var answer = JSON.stringify(data);
                $("#divDestiny").html(answer);
            }
        });
    });
</script>

<h1>Index</h1>

<h2>Messages:</h2>
    <textarea rows="5" cols="75" id="divDestiny"></textarea>
    Refresh messages <input type="submit" value="Refresh"  id="SearchButtonClick"/><br>

<form action='sendMessage.html'>
   Send a message <input type="submit" value="Go"  id="GoButtonClick"/><br>
</form>

</body>
</html>