<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Welcome!</title>

    <style type="text/css">
    </style>
   <link rel="stylesheet" href="static/jquery-ui.css"> </link>
    <script src="static/jquery.js"></script>
     <script src="static/jquery-ui.js"></script>

     <style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  </style>
</head>

<body>


<h1>Welcome!</h1>

<h2>Messages:</h2>
    <textarea rows="5" cols="75" id="divDestiny"></textarea>
<br><br>
<form action='https://asint-227116.appspot.com/sendMessage.html'>
   Send a new message <input type="submit" value="&#8594;"  id="GoButtonClick"/><br>
</form>

<h3>Nearby users:</h3>
<form action='nearbyUsers.html'>
   Check nearby users <input type="submit" value="&#8594;"  id="GoButtonClick2"/><br>
</form>

<script>
    function getCookieValue(a) {
        var b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
        return b ? b.pop() : '';
    }
    
    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var username = getCookieValue('username');

        $.ajax({
            type: "POST",
            url: "https://asint-227116.appspot.com/users", 
            datatype: "json",
            contentType: "application/json",
            data: '{"id":"' + username + '", "latitude":"' + latitude + '", "longitude":"' + longitude + '"}'
        });
    }
    
    ReadMessages();
    setInterval(ReadMessages, 3000);
    function ReadMessages() {
        $( document ).ready(function() {    
            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
                    
            var desturl =  "https://asint-227116.appspot.com/users/messages_all";
            $("#divDestiny").html("waiting");
            $.ajax({
                type: "GET",
                url: desturl,
                datatype: "json",
                contentType: "text/plain",
                data: '',
                success: function (data) {
                    if(data == null || data == "")
                        $("#divDestiny").html("No new messages");
                    else{
                        var answer = JSON.parse("["+data+"]");
                        var messages = "";
                        for (var i = 0; i < answer.length; i++) {
                            messages += "User " + answer[i].id + " said: " + "\"" + answer[i].message + "\"\n";
                        }
                        console.log(messages);
                        document.getElementById('divDestiny').innerHTML = messages;
                    }
                }
            });
        });
    }
</script>
<form action="https://asint-227116.appspot.com/logout" method="GET">
    <div class="container" style="position: absolute; top: 20px; right: 20px; padding=10px;">
        <button type="submit">Logout</button>
    </div>
</form>
</body>
</html>