<head>
    <title>Montalvileiro/Cordalvezil</title>
</head>
<body>
<script>
    $( document ).ready(function() {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            alert("Geolocation is not supported by this browser.");
        }

        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
        }
    });
</script>
    
	<h1>Montalvileiro/Cordalvezil</h1>
	<h2>Please Login into your Fenix account</h2>
	<form action="https://asint-227116.appspot.com/redirect" method="POST">
  		<div class="container">
    		<button type="submit">Login</button>
  		</div>
          <input type="hidden" id="latitude" name="latitude">
          <input type="hidden" id=longitude name="longitude">
	</form>
</body>