<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Montalvileiro</title>
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="static/jquery.js"></script>
    <script src="static/jquery-ui.js"></script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
    height: 100px;
    }
  </style>
</head>

<body>
    <header>
      <div class="container">
        <h1 class="logo">Welcome to Montalvileiro</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    <div class="container">
        <center>
            <h3>Send a new message to the people around you</h3>
            <form action='index.html'>
                <input type="submit" value="&#8592;"  id="GoButtonClick"/> <span>&nbsp;Go to message page<span> 
            </form>
        </center>     
        
        <center>
            <form>
                <table>
                    Message: <input type="text" required='required' size="100" id="msg_body"/><br>
                    Radius: <input type="number" step="1" required='required' id="msg_radius"/>(meters)<br> 
                </table>
                <input type="submit" value="Send new message"  id="sendMsgButtonClick"/><br>
            </form>
        </center>
    </div>
</body>
</html>

<script>
    
    function getCookieValue(a) {
        var b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
        return b ? b.pop() : '';
    }

    $( document ).ready(function() {
        

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            alert("Geolocation is not supported by this browser.");
        }

        /*É preciso fazer request do id do user*/

        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            var username = getCookieValue('username');

            $( "#sendMsgButtonClick" ).click(function( event ) {
                console.log("click");
                $.ajax({
                    type: "POST",
                    url: "https://asint-227116.appspot.com/users/message", 
                    datatype: "json",
                    contentType: "application/json",
                    data: '{"id":"' + username + '", "message":"' + $("#msg_body").val() + '", "radius":"' + $("#msg_radius").val() + '", "latitude":"' + latitude + '", "longitude":"' + longitude + '"}',
                    success: function (data) {
                        //alert('successful');
                        console.log(data);
                        //window.location.href = "mainPage.html";
                    }
                });

            });
        }
    });

</script>
